/* ===================== */
/* HEADER */
/* ===================== */

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 2.5% 15%;
    /* font-family: Verdana, sans-serif; */
    /* font-family: eb corp; */
}

header {
    text-align: center;
    margin-bottom: 5%;
}

header img {
    height: 150px;
}

/* ===================== */
/* MAIN */
/* ===================== */

/* ============ */
/* PARTIE 1 : Ajouter une recette */
/* ============ */

.recipe {
    display: flex;
    justify-content: space-evenly
}

.add_recipe {
    box-shadow: -5px -5px 15px grey;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}

.add_recipe label, input, button {
    padding: 5px;
}

.green_button {
    
    background-color: #0b972a;
    margin: 10px 0px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#formula {
    display: flex;
    flex-direction: column;
}

.recipe_display {
    display: flex;
    flex-direction: column;
}

#container {
    margin: 10px;
}

.recipe_pin {
    display: flex;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    box-shadow: -5px 5px 25px grey;
}

.recipe_pin:hover {
    z-index: 100;
    border: 3px solid  #0b972a;
    transform: scale(1.025);
    transform-origin: center;
}

.recipe_pin:nth-child(1n+4){
    display: none;
}

/* ============ */
/* PARTIE 2 : Préparer une recette */
/* ============ */


.prepare_recipe {
    text-align: center;
}

.food_button {
    text-decoration: none;
    border: none;
}

/* ===================== */
/* FOOTER */
/* ===================== */


footer {
    text-align: center;
}

footer p, h1, img{
    padding: 5px;
}

footer img {
    height: 100px;
}

@media only screen and (max-width: 350px) {
    body {
        display: none;
    }
}